:root {
    --color-primary: #f6ce4b;
    --color-primary-light: #ffffff;     /* blanco */
    --color-text: #2f5c98;              /* azul */
    --color-button-shadow: rgba(0, 0, 0, 0.15);
    --color-button-hover-bg: #2faaf6;
    --color-button-hover-text: var(--color-primary-light);
    --hamburger-color: rgba(255, 255, 255, 0.5);
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 5%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}


.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.app-name {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.nav-links {
    display: flex;
    gap: 70px;
    align-items: center;

}

.nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.nav-links a:hover {
    color: var(--color-button-hover-bg);
}

/* Ícono hamburguesa (oculto en desktop) */
.menu-icon {
    display: none;
    font-size: 2rem;
    color: var(--color-text);
    cursor: pointer;
}

/* Estilos responsive para móviles */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: var(--hamburger-color); /* Fondo blanco con transparencia */
        backdrop-filter: blur(5px);                /* Efecto de desenfoque elegante */
        flex-direction: column;
        gap: 1rem;                                  /* Espaciado más compacto */
        padding: 2rem 1rem;
        align-items: center;
        display: none;
        z-index: 999;
    }
    .nav-links a {
        font-size: 1.3rem;                          /* Texto más grande */
        margin: 0.2rem 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

.logo {
    height: 85px;
    object-fit: contain;
    margin-top: 20px;
}

.nav-links button {
    background-color: var(--color-text) ;
    color: var(--color-primary-light);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--color-button-shadow);
    transition: background-color 0.3s, color 0.3s;
}

.nav-links button:hover {
    background-color: var(--color-button-hover-bg);
    color: var(--color-button-hover-text);
}

